<div *ngIf="product; else loading">
  <h1>{{ product.name }}</h1>
  <div class="product-detail">
    <div class="image-zoom-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
      <img [src]="product.imagePath" alt="{{ product.name }}" class="product-image" />
      <div class="zoomed-image" #zoomedImage [style.background-image]="'url(' + product.imagePath + ')'"></div>
    </div>
    <div class="product-info">
      <div class="description">{{ product.description }}</div>
      <div class="barcode-container">
        <img [src]="product.barcodePath" alt="{{ product.name }}" class="product-barcode" />
      </div>
      <!-- <button>Add to Cart</button> -->
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Loading product details...</p>
</ng-template>
