.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: whitesmoke; */
}

.header {
  background-color: white;
  /* color: black; */
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header a { 
  color: #00cabd;
  font-family: "Lucida Console", "Courier New", monospace;
}

.header .title-container {
  display: flex;
  align-items: center;
  width: 20%;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  text-align: right; 
}

.header h1 a {
  text-decoration: none;
  font-family: 'Brush Script MT', cursive;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.nav-buttons .content-links,
.nav-buttons .user-links {
  display: flex;
  gap: 15px;
}

.nav-buttons a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-buttons a:hover,
.header h1 a:hover{
  color: #1c6d67;
}

.content {
  /* flex: 1;
  padding: 20px;
  overflow-y: auto;
  main { */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  /* } */
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
}
